version: 2

updates:

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    commit-message:
      prefix: "chore: "

  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "daily"
    # Security updates only
    open-pull-requests-limit: 0
