[flake8]
exclude = .direnv,.venv,venv
extend-select = \
    W504  # match black&PEP8 putting binary operators after new lines
ignore = \
    E203 \ # whitespace before : (black disagrees)
    E501 \ # line too long (black fixes long lines, except for long strings which may benefit from being long (eg URLs))
    W503 \ # line break before binary operator (black disagrees)
max-line-length = 88
per-file-ignores =
    scripts/create-schema.py:INP001,E402
    scripts/dbx:INP001
    scripts/dbx-cleanup.py:INP001,F821
    scripts/generate-dataset-sqlite.py:INP001,E402
    scripts/parse_coverage_output.py:INP001
