default_language_version:
  python: python3.13

exclude: tests/acceptance/external_studies/

repos:
  - repo: local
    hooks:
    - id: check
      name: check
      entry: just check
      language: system
      types: [python]
      require_serial: true
      pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # v6.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: debug-statements
    - id: check-ast
    - id: check-json
    - id: check-toml
    - id: check-yaml
      # --unsafe is a workaround for the use of !! in mkdocs.yml.
      args: [--unsafe]
    - id: detect-private-key
