[tool.black]
exclude = '''
(
  /(
      \.git         # exclude a few common directories
    | \.direnv
    | \.venv
    | venv
  )/
)
'''

[tool.coverage.run]
branch = true
omit = []

[tool.coverage.report]
# fail_under = 100
skip_covered = true

[tool.coverage.html]

[tool.isort]
force_grid_wrap = 0
include_trailing_comma = true
line_length = 88
lines_after_imports = 2
multi_line_output = 3
skip_glob = [".direnv", "venv", ".venv"]
use_parentheses = true

[tool.pytest.ini_options]
addopts = "--tb=native --strict-markers"
markers = [
    "integration: tests that use a database",
    "smoke: tests that run the cohort extractor in its container against a database",
]
filterwarnings = [
    "ignore::DeprecationWarning:past.builtins.misc:45"
]
