--constraint requirements.prod.txt

# Additional dev requirements
# To generate a requirements file that includes both prod and dev requirements, run:
# pip-compile --generate-hashes --output-file=requirements.dev.txt requirements.dev.in

docker
hypothesis
pip-tools
pre-commit
# Temporarily pin this version as newer versions break tests, see:
# https://github.com/opensafely-core/ehrql/issues/2403
pyright[nodejs]==1.1.392.post0
pytest
pytest-cov
pytest-mock
pytest-xdist
ruff
toml

# docs
mkdocs
mkdocs-material
