pyarrow
sqlalchemy

# Database driver for MS-SQL
pymssql

# Trino python client and database driver
trino

# Gives us access to Azure credentials
azure-identity

# Gives us isolation from the system version of SQLite and means we don't
# need to worry about e.g. some versions of SQLite missing the `FLOOR`
# function.
sqlean.py

# For graphing query graphs
networkx
pydot
