-c requirements.prod.in
-r requirements.prod.in

# Additional dev requirements
# To generate a requirements file that includes both prod and dev requirements, run:
# pip-compile --generate-hashes --output-file=requirements.dev.txt requirements.dev.in

black
flake8
flake8-builtins
flake8-implicit-str-concat
isort
pytest
docker
six # undeclared dependency of docker (https://github.com/docker/docker-py/issues/2842)