--constraint requirements.prod.txt

# Additional dev requirements
# To generate a requirements file that includes both prod and dev requirements, run:
# pip-compile --generate-hashes --output-file=requirements.dev.txt requirements.dev.in

black
databricks-cli
docker
flake8
flake8-builtins
flake8-implicit-str-concat
flake8-no-pep420
interrogate
isort
mypy
mypy-json-report
pandas-stubs
pip-tools
pre-commit
pydocstyle[toml]
pytest
pytest-cov
pytest-freezegun
pytest-mock
pytest-subtests
pyupgrade
six # undeclared dependency of docker (https://github.com/docker/docker-py/issues/2842)
sqlalchemy-stubs
